@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
    margin-left:1%;
    margin-right:1%;
    font-family:"Roboto";
    font-weight:bold;
}

.navbar li{
    float:left;
    padding-right: 50px;
}

.navbar ul{
    list-style-type: none;
}

.nav2{
    height:4rem;
    font-size:19px;
    color:white;
    background-color:rgb(0, 128, 90);
    display:flex;
    margin-top: 5px;
    justify-content: space-between;
}


.drop-btn{
    padding-bottom:20px;
    margin-bottom:10px;
}

.span-btn{
    margin-top:20px;
    display:none;
}
.nav-list{
    font-size:20px;
    color:white;
    background-color:rgb(0, 128, 90);
    margin-top: 0px;
    list-style-type: none;
    padding-left:0px;
    display: none;
    z-index:1;
    max-height:0;
    transition: 0.8s;
}

.nav-list li{
    padding: 10px;
    border:1px solid white;
}

.upper{
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.upper .list-right li{
    font-size:18px;
    padding:10px;
}
.upper .list-right{
    margin-right:50px;
}
.dropdown-list{
    height:0px;
    width:fit-content;
 position:absolute;
 visibility:hidden;
  margin-top:20px;
  background-color:rgb(17, 167, 119);
  min-width: 100px;
  z-index: 1;
  list-style-type: none;
  padding-left: 0px;
  font-size:18px;
  transition: 0.5s;
 
}

.menu-list{
    list-style-type: none;
    font-size:18px;
    display:none;

}
.menu-list>li{
    border: 0px;
}

.nav-btn{
    display:none;
    margin-right:10px;
    font-size:20px;
}
.logo{
    max-width:120px;
    height:80px;
}

.dropdown-list li{
    float: none;
    padding-top:10px;
    border:1px solid white;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right:15px;
}

.drop-btn:hover .dropdown-list{
    height:176px;
    visibility:visible;

}

.sub-list{
    display:none;
    position: absolute;
    background-color:rgb(17, 167, 119);
  z-index: 1;
  list-style-type: none;
  padding-left: 0px;
  margin-top:5px;
  font-size:16px;
  top:5px;
  right:0;
  transform: translate(100%,0);
  
}

.dropdown-list > li{
    position: relative;
}

.dropdown-list > li:hover .sub-list{
    display:block;
    
}

#sidenav{
 
    width:0px;
    z-index:1;
    position: absolute;
    right:0;
    background-color: rgb(0,0,0,0.8);
    transition: 0.5s;
}
.side-list{
    padding-left:5px;
}
.side-list>li{
    padding:20px;
    font-size:20px;
    list-style-type: none;
    color:aliceblue;
    z-index: 1;
}


.menu-text{
    display:none;
}
@media screen and (max-width:630px){
    .list-right{
        display: none;
    }
    #nav2-list{
        display: none;
    }
    .menu-text{
        display: block;
        padding-left:10px;
    }
    .nav-list{
        display: block;
    }
    .span-btn{
        display: block;
        margin-right:10px;
    }

    .nav-btn{
        display:block;
    }

    .upper{
        display:flex;
        align-items: center;
        justify-content:space-between;
    }
    .drop-btn{
        margin-bottom: 0px;
    }

}

