@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
    margin-left:1%;
    margin-right:1%;
    font-family:"Roboto";
    font-weight:bold;

  padding: 0;
}

.navbar li{
    float:left;
    padding-right: 50px;
}

.navbar ul{
    list-style-type: none;
}

.nav2{
    height:3.5rem;
    font-size:18px;
    color:white;
    background-color:rgb(0, 128, 90);
    display:flex;
    margin-top: 5px;
    justify-content: space-between;
}


.drop-btn{
    padding-bottom:20px;
    margin-bottom:10px;
    z-index: 2;
}

.span-btn{
    margin-top:20px;
    display:none;
}
.nav-list{
    font-size:20px;
    color:white;
    background-color:rgb(0, 128, 90);
    margin-top: 0px;
    list-style-type: none;
    padding-left:0px;
    visibility:hidden;
    opacity:0;
    z-index:2;
    max-height:0;
    transition: 0.8s;
}

.nav-list li{
    padding: 10px;
    border:1px solid white;
    height:auto;
}

.upper{
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.upper .list-right li{
    font-size:18px;
    padding:10px;
}
.upper .list-right{
    margin-right:50px;
}
.dropdown-list{
    max-height:1000px;
    width:fit-content;
    visibility:hidden;
    opacity:0;
 position:absolute;
  margin-top:16px;
  background-color:rgb(17, 167, 119);
  min-width: 100px;
  z-index: 1;
  list-style-type: none;
  padding-left: 0px;
  font-size:15px;
  transition: 0.5s;

}

.menu-list{
    list-style-type: none;
    font-size:15px;
    display:none;
    max-height: 0px;

}
.menu-list>li{
    border: 0px;
}

.nested-list{
    display:none;
}

.nested{
    list-style-type:none;
}
.nested > li{
    border:0px;
}

.nav-btn{
    display:none;
    margin-right:10px;
    font-size:20px;
}
.logo{
    max-width:120px;
    height:80px;
}

.dropdown-list li{
    float: none;
    padding-top:10px;
    border:1px solid white;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right:15px;

}

.drop-btn:hover .dropdown-list{
    visibility:initial;
    opacity:1;


}

.sub-list{
    visibility:hidden;
    opacity:0;
    position: absolute;
    background-color:rgb(17, 167, 119);
  z-index: 1;
  list-style-type: none;
  padding-left: 0px;
  margin-top:5px;
  font-size:16px;
  top:5px;
  right:0;
  transform: translate(100%,0);
  width:max-content;
  transition:0.5s;

}

.dropdown-list > li{
    position: relative;
}

.dropdown-list > li:hover .sub-list{
    visibility:initial;
    opacity:1;
}

#sidenav{
    width:0px;
    overflow-x: hidden;
    z-index:1;
    position: absolute;
    right:0;
    background-color: rgb(0,0,0,0.8);
    transition: 0.5s;
    height:100%;
}
.side-list{
    padding-left:5px;
}
.side-list>li{
    padding:20px;
    font-size:18px;
    list-style-type: none;
    color:aliceblue;
    z-index: 1;
}

.nav-list .drop-btn{
    font-size:15px;
}

.menu-text{
    display:none;
    font-size: 18px;
}

.desc-read{
    margin-left: 15%;
    margin-right:15%;
}

.desc-cont{
    background-color: rgb(218, 214, 214);
    padding:15px;
}

.desc-head h2{
    font-size:40px;
    font-weight:bold;
    font-family:"Roboto";
}
.desc-text h5{
    font-size: 20px;
}
.para-collapse{
    max-height:0px;
    transition: max-height 0.9s ease-out;
}
.para-collapse h5{
    display: none;
}
.readmore{
    width:fit-content;
    display:block;
}
.close{
    display: none;
    width:fit-content;

}

@media screen and (max-width:630px){
    .list-right{
        display: none;
    }
    #nav2-list{
        display: none;
    }
    .menu-text{
        display: block;
        padding-left:10px;
    }
    .nav-list{
        display: block;
    }
    .span-btn{
        display: block;
        margin-right:10px;
    }

    .nav-btn{
        display:block;
    }

    .upper{
        display:flex;
        align-items: center;
        justify-content:space-between;
    }
    .drop-btn{
        margin-bottom: 0px;
    }

    .desc-text h5{
        font-size:15px;
    }
    .desc-head h2{
        font-size:20px;
    }

}







.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index:0;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  max-width: 300px;
  max-height: 300px;
  min-width:120px;
  min-height:120px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.carousel-section{
  margin-left: 10%;
  margin-right: 10%;
}
 .carousel-section .caro-img
{
  max-width: 1000px;
  max-height:600px;
}
