<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <script
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{% static 'webpages/Js/Scrolling-tabs.js' %}"></script>
<script href="{% static 'webpages/Js/Test.js' %}"></script>
      <script src="{% static 'webpages/Js/st_demo.js' %}"></script>
  <link rel="stylesheet" href="{% static 'webpages/Scrolling-tabs.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/Fonts.css' %}">
    <link rel="stylesheet" href="{% static 'webpages/st_demo.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/Doubts.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/Index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/dist/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/dist/css/bootstrap.css' %}" >
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,700;1,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'webpages/css/dist/css/bootstrap-theme.css' %}" >
    <title>Ekal Shiksha</title>

  </head>
  <body>
    <!-- 2nd Navbar Starts here-->
    <nav class="navbar navbar-default navbar-fixed-top nav1">
      <div class="container-fluid white" id='Lowerband'>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
   <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-left">
              <li><a href="{% url 'About' %}"><h4 class='navh4'>About us</h4></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4 class='navh4'>Courses</h4> </a>
                        <ul  class="dropdown-menu dropdown-menu">
                          <li style='border-bottom: 0%; padding-top: 0%'><a href="{% url '6th' %}"><h5>Class 6th</h5></a></li>
                          <li><a href="{% url '7th' %}"><h5>class 7th</h5></a></li>
                          <li><a href="{% url '8th' %}"><h5>Class 8th</h5></a></li>
                          <li><a href="{% url '9th' %}"><h5 >Class 9th</h5></a></li>
                          <li><a href="{% url '10th' %}"><h5 >Class 10th</h5></a></li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle "><h5>Class 11th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '11th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '11th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '11th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                        </li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle"><h5>Class 12th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '12th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '12th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '12th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                          </li>
                          <!-- <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle"><h4 >Micro Course</h4> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '9th' %}"><h4 >Class 9th</h4></a></li>
                            <li><a href="{% url '10th' %}"><h4 >Class 10th</h5></a></li>
                            <li class="dropdown-submenu">
                            <a tabindex="-1" href="#" class="dropdown-submenu-toggle "><h5 >Class 11th</h5> </a>
                            <ul class="dropdown-menu ">
                              <li><a href="{% url '11th_Science' %}"><h5 >Science</h5></a></li>
                              <li><a href="{% url '11th_Commerce' %}"><h5 >Commerce</h5></a></li>
                              <li><a href="{% url '11th_Humanities' %}"><h5 >Arts</h5></a></li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle "><h5 >Class 12th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '11th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '11th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '11th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                        </li>
                        </li>

                          </ul>
                          </li> -->
                          <!-- <li><li><a href='#'><h5 >English Speaking</h5></a></li></li> -->
                        </ul>
                          <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4 class='navh4'>Study Material</h4></a>
                          <ul class="dropdown-menu">
                            <li><a href="#"><h5 >Class 6th</h5></a></li>
                            <li><a href="#"><h5 >Class 7th</h5></a></li>
                            <li><a href="#"><h5 >Class 8th</h5></a></li>
                            <li><a href="#"><h5 >Class 9th</h5></a></li>
                            <li><a href="#"><h5 >Class 10th</h5></a></li>
                            <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle "><h5>Class 11th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '11th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '11th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '11th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                        </li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle"><h5>Class 12th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '12th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '12th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '12th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                          </li>

                          </ul>
                          </li>
                  <li><a href="{% url 'Doubts' %}"><h4 class='navh4'>Doubt class</h4></a></li>
                  <!-- <li><a href="#"><h4>Competitions</h4></a></li> -->
                  <li><a href="#"><h4 class='navh4'>Teach with us</h4></a></li>


            </div>
      </div>
  </ul>
  </nav>
  <!-- 1st navbar start here -->
  <nav class="navbar navbar-default navbar-fixed-top nav2">
  <div class="container-fluid">


    <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">

        <p><a href="{% url 'index' %}"><img class="pull-up" src="{% static 'webpages/images/Ekal_logo.png' %}" width='25%' alt='' ></p>
      </a>
    </a>
  </div>


    <!-- Collect the nav links, forms, and other content for toggling -->




  <div class="collapse navbar-collapse" id="navbar1">
      <ul id='pad'class="nav navbar-nav navbar-right ">
    <div class="row">
      <!-- <div class="col-xs-2 col-md-2 col-lg-2 "></div> -->
    <div class="col-xs-10 col-md-10 col-lg-10"style="padding-right:0px;margin-right:0px;">
    <li id='pad' ><a href="tel:9716864415"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  9716864415 &nbsp; </a>
    </li></div>
    <!-- <div class="col-xs-2 col-md-2 col-lg-2 "></div> -->
    <div class="col-xs-10 col-md-10 col-lg-10">
    <li id='pad' ><a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcRzBWVHwwpBgTtmnMDMpQkrrhrZRHZGFhgBxJqMrBmbcdRghJMXzwLJlLtsjzDCJNcqwSLjv" ><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  Contact@ekalshiksha.in &nbsp; </a>
    </li></div>
    <!-- <div class="col-xs-2 col-md-2 col-lg-2 "></div> -->
    </div>

    </ul>
    <ul id='pad'class="nav navbar-nav navbar-right ">
    <div class="row">
      <div class="col-xs-2 col-md-2 col-lg-2 "></div>
    <div class="col-xs-10 col-md-10 col-lg-10">
    <li id='pad' style='margin-left:0px;'><a href="#" ><h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Sign In &nbsp;</h4> </a>
    </li></div>

    </div>

    </ul>

      <ul id='pad'class="nav navbar-nav navbar-right ">

        <div class="row">
          <div class="col-xs-10 col-md-10 col-lg-10 ">
            <li id='pad' style='margin-left:0px;'><a href="#"><h4><span class="glyphicon glyphicon-search" aria-hidden="true"></span>  Enquiry  Now &nbsp;</h4> </a>
    </div>
    <div class="col-xs-2 col-md-2 col-lg-2 "></div>
  </div>

  </ul>
  </div>
  </div>


  </nav>
  <div class="container">


<div class="jumbotron">
  <h1 class='para'>ABOUT US</h1>
  <div class="item">
  <p id='smal'>We, the founders of Ekal Shiksha, have decided to incorporate individual classes for students. After five years of expertise in the education industry and dealing with the careers of almost 5000 students of K-12 segments,  we became captivated by the fact that all the children are born with different capacities, capabilities, natures, mindsets, business-related and learning patterns. <br>
    We realised that the traditional group teaching method is not so effective for them in maintaining a broad, global perspective. After acknowledging the problems faced by children, we inferred that children need a platform where they can learn as per their way. Soon after that, we decided to launch our learning platform ‘Ekal Shiksha’ to provide one teacher to one student for their enrichment.<br>
    Our sole objective is to concentrate on the individual learning capacity of students and help them in enhancing their skills after a deep comprehension of their unique as well as individual learning needs.
At Ekal Shiksha, we let young minds study at their own pace. We have accommodated well-trained and proficient mentors from all over the country who can lay the flexibility of choosing and designing the lesson plans and learning methods for each student. It will prove beneficial as students can learn without fearing the judgement of teachers and their batchmates. Along with that, we also have our doubt rectification team that be available next to students 24*7 at a very accessible fee structure.
<br><br>
<h3 class='para' >The name of our platform, Ekal Shiksha, itself defines its purpose. Ekal ~ Individual and Shiksha ~ Education.</h3></p>
</div>
</div>

<h1 class='para'> Our features </h1>

<ul>
  <li id='smal'><h3>Free demo individual classes</h3></li>
  <li id='smal'><h3>LIVE audio-video linking between the teacher and the student </h3></li>
  <li id='smal'><h3>Well designed individual classes as per time table to maintain regularity</h3></li>
  <li id='smal' ><h3>Recorded live lessons for revision</h3></li>
  <li id='smal' ><h3>Immediate Doubt resolution </h3></li>
  <li id='smal' ><h3>The feedback system for students and parents based on academic performance</h3></li>
  <li id='smal' ><h3>Weekly tests</h3></li>
  <li id='smal' ><h3>Mock tests and monthly progress report with improvement classes.</h3></li>
</ul>
</div>
<br>
<div class="jumbotron">
  <h1 class='para'>Originators of Ekal Shiksha</h1>
  <div class="container">


  <div class="row ">
    <div class="col-xs-4 col-md-4 col-lg-4 ">
      <p id='smal'>Sanchit Singhal (Founder)</p>
      <p id='smal'>A highly amicable person who likes interacting with students, parents and teachers to help the students succeed academically. Sanchit, being an educator for the past 6 years, has a passion for educational research for innovating the teaching strategies laid down by mentors. Moreover, he always listens to student’s academic, social and behavioural concerns in a non-judgemental way so that their goals do not get disrupted.</p>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
      <p id='smal'>Vanshika Garg (Co-founder)</p>
      <p id='smal'>A firm believer in communication in all possible forms. She started as a teacher where her teaching style was very patient, friendly and accomodating. Also, Vanshika values real-world learning and engages with her students while teaching by identifying the resources that students need to make the grade. By providing actionable feedback to each student, Vanshika helps the students focus on the results.</p>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
      <p id='smal'>Bhavya Sharma (Co-founder)</p>
      <p id='smal'>A software engineer by profession and a teacher by his desire. He has strategic thinking and strong communication skills. His technical integrity and good mentorship provide in-depth knowledge to students for their upliftment and enrichment. Bhavya ensures that students are listening, acting and improving in every class they take with Ekal Shiksha.</p>
    </div>
</div>
  </div>
</div>
<footer class="footer-bs">
           <div class="row">
            <div class="col-md-3 footer-brand animated fadeInLeft">
              <div class="item">
                <h2>Logo</h2>
                   <p>Ekal Shiksha is an Ed-tech company which provides one on one individual online classes. It is an initiative which aims to revolutionize the standard teaching and learning methods. We believe that each student has his or her personal learning speed, method and curriculum which is very important for a teacher to understand and personalize their teaching methods according to the students not vice versa. This platform is especially built for those who have immense potential but are never focused on in group classes, the growth of such students is our moto.

<br>We have been in the teaching industry for past four years, catered to more than 1000s of students till the date. We are unique in a manner that we not only provide tuitions but also we make sure that the performance of each student is tracked through our LMS system and they get to check their clearity of concepts by the MCQs provided after each concept is taught. We have adopted the EAD approach for the better learning, understanding and self assessing of students. We are in a way parent friendly and make sure that the parents are kept in loop for each activity of the student and the teacher.

<br>We have accommodated the best of talented teachers from all across the India for students who believe in learning beyond a classroom. We are a one step solution for all those parents who worry about their kid not being focused enough in group classes, for those who believe that their child can do far better if focused a little more, for those who worry for their kid’s safety when they are at work and their child alone with a teacher at home, for those who worry sending their child to coaching at odd hours and most of all for those who not only believe in passing but in learning.</p>
</div>
               </div>
            <div class="col-md-6 footer-nav animated fadeInUp">
                <h4 class='para'>Menu —</h4>
                <div class="col-md-4">
                       <ul class="list">
                           <li><a href="{% url '6th' %}">Class 6th</a></li>
                           <li><a href="{% url '7th' %}">Class 7th</a></li>
                           <li><a href="{% url '8th' %}">Class 8th</a></li>
                           <li><a href="{% url '9th' %}">Class 9th</a></li>
                           <li><a href="{% url '10th' %}">Class 10th</a></li>
                           <li><a href="{% url '11th_Science' %}">Class 11th Science</a></li>
                           <li><a href="{% url '11th_Commerce' %}">Class 11th Commerce</a></li>
                         </ul>
                       </div>
                           <div class="col-md-4">
                                  <ul class="list">

                           <li><a href="{% url '11th_Humanities' %}">Class 11th Humanities</a></li>
                           <li><a href="{% url '12th_Science' %}">Class 12th Science</a></li>
                           <li><a href="{% url '12th_Commerce' %}">Class 12th Commerce</a></li>
                           <li><a href="{% url '12th_Humanities' %}">Class 12th Humanities</a></li>
                       </ul>
                   </div>
                <div class="col-md-4">
                       <ul class="list">
                           <li><a href="#">About Us</a></li>
                           <li><a href="#">Contacts</a></li>
                           <li><a href="#">Terms & Condition</a></li>
                           <li><a href="#">Privacy Policy</a></li>
                       </ul>
                   </div>
               </div>
            <div class="col-md-3 footer-social animated fadeInDown">
                <h4>Follow Us</h4>
                <ul>
                    <li><a href="https://www.facebook.com/ekalshiksha/">Facebook</a></li>
                    <li><a href="https://twitter.com/ekalshiksha?lang=en">Twitter</a></li>
                    <li><a href="https://www.instagram.com/ekal_shiksha/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/company/ekal-shiksha/?originalSubdomain=in">Linkdin</a></li>
                   </ul>
               </div>
            </div>
       </footer>

</body>

<script src="{% static 'webpages/Js/ReadMore.js' %}"></script>
<script src="{% static 'webpages/css/dist/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
</html>
