<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <script
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <script src="{% static 'webpages/Js/Scrolling-tabs.js' %}"></script>
<link rel="stylesheet" href="{% static 'webpages/Js/jquery_flipster_min.css' %}">
<link rel="stylesheet" href="{% static 'webpages/Js/jquery_flipster.css' %}">
  <script src="{% static 'webpages/Js/Scrolling-tabs.js' %}"></script>
<script href="{% static 'webpages/Js/Test.js' %}"></script>
      <script src="{% static 'webpages/Js/st_demo.js' %}"></script>
  <link rel="stylesheet" href="{% static 'webpages/Scrolling-tabs.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/Fonts.css' %}">
    <link rel="stylesheet" href="{% static 'webpages/st_demo.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/Doubts.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/Index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/dist/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/dist/css/bootstrap.css' %}" >
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,700;1,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'webpages/css/dist/css/bootstrap-theme.css' %}" >
    <title>Ekal Shiksha</title>

  </head>
  <body>
    <!-- 2nd Navbar Starts here-->
    <nav class="navbar navbar-default navbar-fixed-top nav1">
      <div class="container-fluid white" id='Lowerband'>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
   <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-left">
              <li><a href="{% url 'About' %}"><h4 class='navh4'>About us</h4></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4 class='navh4'>Courses</h4> </a>
                        <ul  class="dropdown-menu dropdown-menu">
                          <li style='border-bottom: 0%; padding-top: 0%'><a href="{% url '6th' %}"><h5>Class 6th</h5></a></li>
                          <li><a href="{% url '7th' %}"><h5>class 7th</h5></a></li>
                          <li><a href="{% url '8th' %}"><h5>Class 8th</h5></a></li>
                          <li><a href="{% url '9th' %}"><h5 >Class 9th</h5></a></li>
                          <li><a href="{% url '10th' %}"><h5 >Class 10th</h5></a></li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle "><h5>Class 11th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '11th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '11th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '11th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                        </li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle"><h5>Class 12th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '12th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '12th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '12th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                          </li>
                          <!-- <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle"><h4 >Micro Course</h4> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '9th' %}"><h4 >Class 9th</h4></a></li>
                            <li><a href="{% url '10th' %}"><h4 >Class 10th</h5></a></li>
                            <li class="dropdown-submenu">
                            <a tabindex="-1" href="#" class="dropdown-submenu-toggle "><h5 >Class 11th</h5> </a>
                            <ul class="dropdown-menu ">
                              <li><a href="{% url '11th_Science' %}"><h5 >Science</h5></a></li>
                              <li><a href="{% url '11th_Commerce' %}"><h5 >Commerce</h5></a></li>
                              <li><a href="{% url '11th_Humanities' %}"><h5 >Arts</h5></a></li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle "><h5 >Class 12th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '11th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '11th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '11th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                        </li>
                        </li>

                          </ul>
                          </li> -->
                          <!-- <li><li><a href='#'><h5 >English Speaking</h5></a></li></li> -->
                        </ul>
                          <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4 class='navh4'>Study Material</h4></a>
                          <ul class="dropdown-menu">
                            <li><a href="#"><h5 >Class 6th</h5></a></li>
                            <li><a href="#"><h5 >Class 7th</h5></a></li>
                            <li><a href="#"><h5 >Class 8th</h5></a></li>
                            <li><a href="#"><h5 >Class 9th</h5></a></li>
                            <li><a href="#"><h5 >Class 10th</h5></a></li>
                            <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle "><h5>Class 11th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '11th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '11th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '11th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                        </li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle"><h5>Class 12th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '12th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '12th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '12th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                          </li>

                          </ul>
                          </li>
                  <li><a href="{% url 'Doubts' %}"><h4 class='navh4'>Doubt class</h4></a></li>
                  <!-- <li><a href="#"><h4>Competitions</h4></a></li> -->
                  <li><a href="#"><h4 class='navh4'>Teach with us</h4></a></li>


            </div>
      </div>
  </ul>
  </nav>
  <!-- 1st navbar start here -->
  <nav class="navbar navbar-default navbar-fixed-top nav2 ">
  <div class="container-fluid">


    <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">

        <p><a href="{% url 'index' %}"><img class="pull-up im" src="{% static '/webpages/images/Logo.png' %}"  width= 40% alt='' ></p>
      </a>
    </a>
  </div>


    <!-- Collect the nav links, forms, and other content for toggling -->




  <div class="collapse navbar-collapse" id="navbar1">
      <ul id='pad'class="nav navbar-nav navbar-right ">
    <div class="row">
      <!-- <div class="col-xs-2 col-md-2 col-lg-2 "></div> -->
    <div class="col-xs-10 col-md-10 col-lg-10"style="padding-right:0px;margin-right:0px;">
    <li id='pad' ><a href="tel:9716864415"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  9716864415 &nbsp; </a>
    </li></div>
    <!-- <div class="col-xs-2 col-md-2 col-lg-2 "></div> -->
    <div class="col-xs-10 col-md-10 col-lg-10">
    <li id='pad' ><a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcRzBWVHwwpBgTtmnMDMpQkrrhrZRHZGFhgBxJqMrBmbcdRghJMXzwLJlLtsjzDCJNcqwSLjv" ><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  Contact@ekalshiksha.in &nbsp; </a>
    </li></div>
    <!-- <div class="col-xs-2 col-md-2 col-lg-2 "></div> -->
    </div>

    </ul>
    <ul id='pad'class="nav navbar-nav navbar-right ">
    <div class="row">
      <div class="col-xs-2 col-md-2 col-lg-2 "></div>
    <div class="col-xs-10 col-md-10 col-lg-10">
    <li id='pad' style='margin-left:0px;'><a href="#" ><h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Sign In &nbsp;</h4> </a>
    </li></div>

    </div>

    </ul>

      <ul id='pad'class="nav navbar-nav navbar-right ">

        <div class="row">
          <div class="col-xs-10 col-md-10 col-lg-10 ">
            <li id='pad' style='margin-left:0px;'><a href="#"><h4><span class="glyphicon glyphicon-search" aria-hidden="true"></span>  Enquiry  Now &nbsp;</h4> </a>
    </div>
    <div class="col-xs-2 col-md-2 col-lg-2 "></div>
  </div>

  </ul>
  </div>
  </div>


  </nav>
<!-- Header Image  -->
<div class="container-fluid" id='Lowerband'>
  <br>
  <div class="row">
      <div class="col-xs-7 col-md-7">
        <img src="{% static 'webpages/images/Copy_of_Add_a_heading__3_-removebg-preview.png' %}" width="115%" alt="">

      </div>
      <div class="col-xs-5 col-md-5">

<h1 id='para smal' style="font-size:7vw;"><strong>&nbsp;One</strong><br>Teacher<br>&nbsp;&nbsp;&nbsp;<strong>One</strong><br>&nbsp;&nbsp;Student</h1>

  <!-- <h1 id='para smal' style="font-size:5vw;"><b>&nbsp;One<br>Student</h1> -->



  </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-xs-7"></div>
    <div class="col-md-4 col-xs-5" style='padding-bottom:1%;'>

    <button type="button" class="btn btn-primary" aria-haspopup="true" aria-expanded="false"data-toggle="modal" data-target="#myModal" id='smal'>Book your Free<br>Individual class</button></div> </h1></button>
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->



        <div class="modal-content">
          <div class="modal-header">

              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><p><a href="{% url 'index' %}"><img class="pull-up" src="{% static 'webpages/images/Ekal_logo.png' %}" width='40%' alt='' ></p></h4></a>
              <br>


          <div class="form-group">


      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
        <div class="col-md-5 col-xs-5"></div>
        <div class="col-md-5 col-xs-5">
          <button class="btn btn-primary btn-lg para" type="submit" name="button">Post</button>
        </div>
      </div>
      </form>
        </div>
      </div>
    </div>
  </div>
    </div>

    </div>
  </div>



<br>
<!-- Need for individual classes -->
  <div class="container">
    <h1 class='para'>Perks of Individual Classes</h1>
    <br>
    <div class="row">

     <div class="col-xs-3 col-md-3 thumbnail">
          <a onclick=" $( ' #myCarousel ').carousel( 0 );" href='#myCarousel'><img src="{% static 'webpages/images/Add_a_heading__2_-removebg-preview.png' %}"></a>
          <p id ='smal' class='para'> Personalised classes</p>
        </div>
        <div class="col-xs-3 col-md-3 thumbnail">
          <a onclick=" $( ' #myCarousel ').carousel( 1 );" href='#myCarousel'><img src="{% static 'webpages/images/Add_a_heading__3_-removebg-preview.png' %}"></a>
          <p id ='smal' class='para'>No Fear of Judgment<br></p>
        </div>
        <div class="col-xs-3 col-md-3 thumbnail">
          <a onclick=" $( ' #myCarousel ').carousel( 5 );" href='#myCarousel'><img src="{% static 'webpages/images/Add_a_heading__10_-removebg-preview.png' %}"></a>
          <p id ='smal' class='para'>Custom build lesson plan</p>
        </div>
        <div class="col-xs-3 col-md-3 thumbnail">
          <a onclick=" $( ' #myCarousel ').carousel( 2 );" href='#myCarousel'><img src="{% static 'webpages/images/Add_a_heading__5_-removebg-preview.png' %}"></a>
          <p id ='smal' class='para'>Time flexibility</p>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-md-2 thumbnail"></div>
        <div class="col-xs-4 col-md-4 thumbnail">
          <a onclick=" $( ' #myCarousel ').carousel( 0 );" href='#myCarousel'><img src="{% static 'webpages/images/Individual_Attention.png' %}"></a>
          <p id ='smal' class='para'>Individual Attention</p>
        </div>
        <div class="col-xs-4 col-md-4 thumbnail">
          <a onclick=" $( ' #myCarousel ').carousel( 3 );" href='#myCarousel'><img src="{% static 'webpages/images/Interaction_Understanding.png' %}"></a>
          <p id ='smal' class='para'>Better understanding</p>
        </div>
        <div class="col-xs-2 col-md-2 thumbnail"></div>
      </div>
      <div class="row">
      <div class="col-xs-3 col-md-3 thumbnail">
          <a onclick=" $( ' #myCarousel ').carousel( 4 );" href='#myCarousel'><img src="{% static 'webpages/images/Add_a_heading__6_-removebg-preview.png' %}"></a>
          <p id ='smal' class='para'>Improved performance</p>
        </div>
        <div class="col-xs-3 col-md-3 thumbnail">
          <a onclick=" $( ' #myCarousel ').carousel( 1 );" href='#myCarousel'><img src="{% static 'webpages/images/Hesitation_free.png' %}"></a>
          <p id ='smal' class='para'>Hestitation free classes</p>
        </div>
        <div class="col-xs-3 col-md-3 thumbnail">
          <a onclick=" $( ' #myCarousel ').carousel( 0 );" href='#myCarousel'><img src="{% static 'webpages/images/Better_Understanding.png' %}"></a>
          <p id ='smal' class='para'>Better interaction with Teacher</p>
        </div>
        <div class="col-xs-3 col-md-3 thumbnail">
          <a onclick=" $( ' #myCarousel ').carousel( 5 );" href='#myCarousel'><img src="{% static 'webpages/images/Add_a_heading__9_-removebg-preview.png' %}"></a>
          <p id ='smal' class='para'>Result<Br>Driven Learning</p>
        </div>
      </div>
</div>
<!-- Grade System -->
  <div class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab"><h2>Grade 12</h2></a></li>
      <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab"><h2 >Grade 11</h2></a></li>
      <li role="presentation"><a href="#tab3" role="tab" data-toggle="tab"><h2 >Grade 10</h2></a></li>
      <li role="presentation"><a href="#tab4" role="tab" data-toggle="tab"><h2 >Grade 9</h2></a></li>
      <li role="presentation"><a href="#tab5" role="tab" data-toggle="tab"><h2 >Grade 8</h2></a></li>
      <li role="presentation"><a href="#tab6" role="tab" data-toggle="tab"><h2 >Grade 7</h2></a></li>
      <li role="presentation"><a href="#tab7" role="tab" data-toggle="tab"><h2 >Grade 6</h2></a></li>

    </ul>


    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab1">
        <br>

            <h3>Science</h3> <p>As we all know CBSE class 12 science board exam puts a student into a do or die situation. The books are written in a simple yet exhaustive manner. Maintaining an easy and smooth understanding of each advanced concept is important. Scoring well in board exams will boost up the confidence and morale of the students. Every college in the country ...<a href="{% url '12th_Science' %}">read more</a> </p>
            <h3>Commerce</h3><p>CBSE class 12 commerce is entirely based on the concepts that a student had studied in class 11 in a broader aspect. Still, many students face some sort of difficulty in adapting themselves to the increased syllabus and feel frustrated for their Class 12 CBSE board exams. To master any of the specific subjects, a student needs personalised classes ...<a href="{% url '12th_Commerce' %}">read more</a> </p>
            <h3>Humanities</h3> <p>In CBSE class 12 humanities, most students take this stream very lightly because all the subjects are theoretical. However, one should understand every topic very properly so that they can properly present their answers to the examiner. Also, presentation skills should be A1 to ensure good marks by the examiner.
In the current scenario, Humanities has become an important stream, as it offers a ...<a href="{% url '12th_Humanities' %}">read more</a> </p>

      </div>
      <div role="tabpanel" class="tab-pane" id="tab2">
        <br>

           <h3>Science</h3> <p>The syllabus of CBSE Class 11 is considered as a foundation for CBSE Class 12 board exams. The stronger the foundation, the better will be the performance in the CBSE board examinations. After having studied diverse subjects throughout your school life, now in CBSE class 11 Science, the real efforts begin. Though students are familiar with Physics, Chemistry and Biology in the earlier classes ...<a href="{% url '11th_Science' %}">read more</a> </p>
           <h3>Commerce</h3> <p>CBSE Class 11 commerce offers completely new concepts to the students which they have never learned before. In this, a student is introduced to the basics of Accountancy, Business Studies and Economics. Here, students face some difficulties due to the arrival of new subjects and the loss of 3 months due to delayed Class X board results. Since CBSE Class 11 is considered to be the foundation ...<a href="{% url '11th_Commerce' %}">read more</a> </p>
           <h3>Humanities</h3> <p>Many students pursue arts with an assumption in mind that it is the easiest among the three streams. However, this is far from the truth. You might see yourself as a troublemaker if you don’t put your best into this stream as well. Humanities offer the student exposure to the core subjects such as History, Economics, Political Science and Geography. All of these subjects are based on theoretical learning and require a lot of memory to retain. Humanities bring out a pool ...<a href="{% url '11th_Humanities' %}">read more</a> </p>

      </div>
      <div role="tabpanel" class="tab-pane" id="tab3">

          <br>

            <p>CBSE class 10 board exams are crucial for the students as every single concept plays a vital role in making a successful individual. It carries an opportunity for progress. Understanding each topic is crucial for strengthening the fundamental knowledge that is hidden in each concept. Moreover, class 10 signifies a student’s academic achievements. Based on the academic results of Class 10 Board examinations, students can decide whether they should go for Science, Commerce or Humanities.<br> Also, many reputed universities of the world ...<a href="{% url '10th' %}">read more</a></p>
          </div>

      <div role="tabpanel" class="tab-pane" id="tab4">
        <br>
          <p>CBSE class 9 acts as a turning point in the life of a school student that one should not overlook as it offers the conceptual background for class 10, class 11 and class 12 simultaneously. This grade will help a student maintain a strong understructure for the class 10 CBSE board if understood well. Many students ignore this and end up regretting it. Apart from that, most topics which are covered in class 9 will be coming in the competitive exams in a detailed manner. So, students should focus now ... <a href="{% url '8th' %}">read more</a></p>
        </div>



      <div role="tabpanel" class="tab-pane" id="tab5">
        <p>CBSE Class 8 is the ultimate chapter of a student’s middle schooling where the students suddenly face an immense increase in the syllabus and end up feeling pressured. The arrival of the new topics adds worry and perplexment to both students and their parents. Before stepping into high school, good command over the concepts is necessary for them for achieving their goals in an accelerated way. Apart from just academics, mental preparation ... <a href="{% url '8th' %}">read more</a></p>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab6">
        <p>CBSE Class 7 broadly covers up all the fundamentals and conceptions that a student had covered up in the first year of his middle school. All the textbooks of this grade focus on developing student’s interest in the core subjects such as physics, biology and chemistry as they consider these burdensome. These subjects are going to be covered broadly in the later classes. The concepts that are being taught in this grade are considered as the educational walls which support the learning avenue of students. Emphasis on a complete set ...<a href="{% url '7th' %}">read more</a> </p>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab7">
        <br>
        <p>CBSE Class 6 marks a significant step in the learning path of a student’s school life as this grade acts as the foundation for the upcoming years of a student’s school life. A strong foundation can pave their ways for the future that will help them in raising much higher with confidence. There is always a sense of fear in the minds of the children regarding the hefty syllabus that they came across. But once the students are focused, no one can stop them from achieving greatness.
Here, children are being taught how they can do an ... <a href="{% url '6th' %}">read more</a> </p>
      </div>
    </div>
  </div>
      <!-- <div role="tabpanel" class="tab-pane" id="tab8">Tab 8 content...</div>
      <div role="tabpanel" class="tab-pane" id="tab9">Tab 9 content...</div>
      <div role="tabpanel" class="tab-pane" id="tab10">Tab 10 content...</div> -->

    <!-- <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home"><h2>Grade 12</h2></a></li>
    <li><a data-toggle="tab" href="#menu1"><h2>Grade 11</h2></a></li>
    <li><a data-toggle="tab" href="#menu2"><h2>Grade 10</h2></a></li>
    <li><a data-toggle="tab" href="#menu3"><h2>Grade 9</h2></a></li>
    <li><a data-toggle="tab" href="#menu4"><h2>Grade 8</h2></a></li>
    <li><a data-toggle="tab" href="#menu5"><h2>Grade 7</h2></a></li>
    <li><a data-toggle="tab" href="#menu6"><h2>Grade 6</h2></a></li>

  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="row">
        <br>
        <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-4 col-md-4">
          <p id='smal'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-xs-3 col-md-3"></div>
        <div class="col-xs-3 col-md-3">
          <div class="btn-group-lg btn-group-vertical">
            <button type="button" id="pre-reading-btn" class="btn btn-primary">Maths</button>
            <br>
            <button type="button" id="passage-btn" class="btn btn-primary">Science</button>
            <br>
            <button type="button" id="post-reading-btn" class="btn btn-primary">SST</button>
          </div>
          </div>
        </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Grade 11</h3>
      <p>Some content in menu 1.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <div class="row">
        <br>
        <div class="col-xs-4 col-md-4">
          <p id='smal'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-3 col-md-3">
          <div class="btn-group-lg btn-group-vertical">
            <button type="button" id="pre-reading-btn" class="btn btn-primary">Maths</button>
            <br>
            <button type="button" id="passage-btn" class="btn btn-primary">Science</button>
            <br>
            <button type="button" id="post-reading-btn" class="btn btn-primary">SST</button>
          </div>
          </div>
          <div class="col-xs-1 col-md-1">
            <div class="btn-group-lg btn-group-vertical">
              <button type="button" id="pre-reading-btn" class="btn btn-primary">Maths</button>
              <br>
              <button type="button" id="passage-btn" class="btn btn-primary">Science</button>
              <br>
              <button type="button" id="post-reading-btn" class="btn btn-primary">SST</button>
            </div>
          </div>
    </div>
  </div>
    <div id="menu3" class="tab-pane fade">
      <div class="row">
        <br>
        <div class="col-xs-4 col-md-4">
          <p id='smal'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-3 col-md-3">
          <div class="btn-group-lg btn-group-vertical">
            <button type="button" id="pre-reading-btn" class="btn btn-primary">Maths</button>
            <br>
            <button type="button" id="passage-btn" class="btn btn-primary">Science</button>
            <br>
            <button type="button" id="post-reading-btn" class="btn btn-primary">SST</button>
          </div>
          </div>
          <div class="col-xs-1 col-md-1">
            <div class="btn-group-lg btn-group-vertical">
              <button type="button" id="pre-reading-btn" class="btn btn-primary">Maths</button>
              <br>
              <button type="button" id="passage-btn" class="btn btn-primary">Science</button>
              <br>
              <button type="button" id="post-reading-btn" class="btn btn-primary">SST</button>
            </div>
          </div>
    </div>
    </div>
    <div id="menu4" class="tab-pane fade">
      <div class="row">
        <br>
        <div class="col-xs-4 col-md-4">
          <p id='smal'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-3 col-md-3">
          <div class="btn-group-lg btn-group-vertical">
            <button type="button" id="pre-reading-btn" class="btn btn-primary">Maths</button>
            <br>
            <button type="button" id="passage-btn" class="btn btn-primary">Science</button>
            <br>
            <button type="button" id="post-reading-btn" class="btn btn-primary">SST</button>
          </div>
          </div>
          <div class="col-xs-1 col-md-1">
            <div class="btn-group-lg btn-group-vertical">
              <button type="button" id="pre-reading-btn" class="btn btn-primary">Maths</button>
              <br>
              <button type="button" id="passage-btn" class="btn btn-primary">Science</button>
              <br>
              <button type="button" id="post-reading-btn" class="btn btn-primary">SST</button>
            </div>
          </div>
    </div>
    </div>
    <div id="menu5" class="tab-pane fade">
      <div class="row">
        <br>
        <div class="col-xs-4 col-md-4">
          <p id='smal'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-3 col-md-3">
          <div class="btn-group-lg btn-group-vertical">
            <button type="button" id="pre-reading-btn" class="btn btn-primary">Maths</button>
            <br>
            <button type="button" id="passage-btn" class="btn btn-primary">Science</button>
            <br>
            <button type="button" id="post-reading-btn" class="btn btn-primary">SST</button>
          </div>
          </div>
          <div class="col-xs-1 col-md-1">
            <div class="btn-group-lg btn-group-vertical">
              <button type="button" id="pre-reading-btn" class="btn btn-primary">Maths</button>
              <br>
              <button type="button" id="passage-btn" class="btn btn-primary">Science</button>
              <br>
              <button type="button" id="post-reading-btn" class="btn btn-primary">SST</button>
            </div>
          </div>
    </div>
    </div>
    <div id="menu6" class="tab-pane fade">
      <div class="row">
        <br>
        <div class="col-xs-4 col-md-4">
          <p id='smal'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-3 col-md-3">
          <div class="btn-group-lg btn-group-vertical">
            <button type="button" id="pre-reading-btn" class="btn btn-primary">Maths</button>
            <br>
            <button type="button" id="passage-btn" class="btn btn-primary">Science</button>
            <br>
            <button type="button" id="post-reading-btn" class="btn btn-primary">SST</button>
          </div>
          </div>
          <div class="col-xs-1 col-md-1">
            <div class="btn-group-lg btn-group-vertical">
              <button type="button" id="pre-reading-btn" class="btn btn-primary">Maths</button>
              <br>
              <button type="button" id="passage-btn" class="btn btn-primary">Science</button>
              <br>
              <button type="button" id="post-reading-btn" class="btn btn-primary">SST</button>
            </div>
          </div>
    </div>
    </div>
  </div> -->


  <h1 class='para'>Why Choose Ekal Shiksha?</h1>
    <br>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
          <a href="#"><img src="{% static 'webpages/images/SL1.png' %}" style='width:100%;'></a>
          </div>
          <div class="item">
          <a href="#">  <img src="{% static 'webpages/images/SL2.png' %}"style='width:100%;'></a>
          </div>
          <div class="item">
          <a href="#">  <img src="{% static 'webpages/images/SL3.png' %}" style='width:100%;'></a>
          </div>
          <div class="item">
          <a href="#">  <img src="{% static 'webpages/images/SL4.png' %}"style='width:100%;'></a>
          </div>
          <div class="item">
          <a href="#">  <img src="{% static 'webpages/images/SL5.png' %}" style='width:100%;'></a>
          </div>
          <div class="item">
          <a href="#">  <img src="{% static 'webpages/images/SL6.png' %}" style='width:100%;'></a>
          </div>
          <div class="item">
          <a href="#">  <img src="{% static 'webpages/images/SL7.png' %}" style='width:100%;'></a>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br>
      <br>

  <div id='Lowerband'class="jumbotron white">
    <h2 class='para' ><b>Get your Personalized Learning Recommendation<br>Interact with our counsellor</h2></b>
    <!-- <div class="btn-group" > -->

    <div class="row" style='margin-right:0px;'>
      <div class="col-xs-4 col-md-5"></div>
      <div class="col-xs-4 col-md-5">

          <button class="btn btn-danger btn-lg" type="button" name="button"data-toggle="modal" data-target="#myModal" id='smal'>Get Started</button>
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">





              <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><p><a href="{% url 'index' %}"><img class="pull-up" src="{% static 'webpages/images/Ekal_logo.png' %}" width='40%' alt='' ></p></h4></a>
                    <br>


                <div class="form-group">


            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="row">
              <div class="col-md-5 col-xs-5"></div>
              <div class="col-md-5 col-xs-5">
                <button class="btn btn-primary btn-lg para" type="submit" name="button">Post</button>
              </div>
            </div>
            </form>
              </div>
            </div>
          </div>
        </div>
          </div>

      </div>
      <!-- <div class="col-xs-4 col-lg-4"></div> -->
    </div>
  </div>

    <h1 class='para' >Get help with<strong> free Study</strong> material</h1>

    <div class="row">
      <div class="col-xs-4 col-md-4 thumbnail ">
        <a href="#"><img src="{% static 'webpages/images/13.png' %}"></a><h1 class='para' >CBSE Books</h1>
      </div>
      <div class="col-xs-4 col-md-4 thumbnail">
        <a href="#"><img src="{% static 'webpages/images/14.png' %}"></a><h1 class='para' >Practice paper</h1>
      </div>
      <div class="col-xs-4 col-md-4 thumbnail">
        <a href="#"><img src="{% static 'webpages/images/15.png' %}"></a><h1 class='para' >Mock<br>Test</h1>
      </div>
    </div>
    <!-- <div class="container">
      <div class="row ">
        <div class="col-xs-6 col-lg-4">
        <h2 style='padding-left=20px;'>CBSE Crash Course</h2>
        </div>
        <div class="col-xs-3 col-lg-6"></div>
        <div class="col-xs-3 col-lg-2">
        <h2 style='text-align:right;padding-right=20px;'>View All</h2>
        </div>
      </div>
      <div id="myCarousel1" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel1" data-slide-to="1"></li>
          <li data-target="#myCarousel1" data-slide-to="2"></li>
        </ol>


        <div class="carousel-inner">
          <div class="item active">

            <div class="col-xs-5">
          <a href="#">  <img src="{% static 'webpages/images/1.png' %}" style="width:100%;"></a>
          </div>
          <div class="col-xs-2">  </div>
          <div class="col-xs-5">
        <a href="#">  <img src="{% static 'webpages/images/2.png' %}" style="width:100%;"></a>
        </div>

        </div>

          <div class="item">
            <div class="col-xs-5">
          <a href="#">  <img src="{% static 'webpages/images/3.png' %}" style="width:100%;"></a>
          </div>
          <div class="col-xs-2">  </div>
          <div class="col-xs-5">
        <a href="#">  <img src="{% static 'webpages/images/4.png' %}" style="width:100%;"></a>
        </div>
          </div>

          <div class="item">
            <div class="col-xs-5">
          <a href="#">  <img src="{% static 'webpages/images/5.png' %}" style="width:100%;"></a>
          </div>
          <div class="col-xs-2">  </div>
          <div class="col-xs-5">
        <a href="#">  <img src="{% static 'webpages/images/6.png' %}" style="width:100%;"></a>
        </div>
          </div>
        </div>


        <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel1" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br>
      <br>
    <h1 class='para'>Complete your course in short period of time</h1>
    <div class="row">
      <div class="col-xs-3 col-lg-3"></div>
      <div class="col-xs-6 col-lg-6">
        <div id='Lowerband'class="jumbotron white smallJumb">
          <a href="#"> <h2 class='para' id='smal'>Book your crash course now!!</h2></a>
        </div>
      </div>
      <div class="col-xs-3 col-lg-3"></div>
    </div> -->
  <div id='Lowerband'class="jumbotron white heading ">
    <h1 class='para' ><strong>Choose your personal mentor now.</strong></h1>
    <div class="row">
      <div class="col-xs-4 col-lg-5"></div>
      <div class="col-xs-4 col-lg-5">
        <a href="https://www.instagram.com/ekal_shiksha/" target="_blank">
          <button id='smal' class="btn btn-danger btn-lg" type="button" name="button">Contact Us!!!</button>
        </a>
      </div>
      <div class="col-xs-4 col-lg-5"></div>
    </div>
  </div>


   </div>
   <div class="container white">
    <div id='Lowerband_Change' class="jumbotron white">
      <div class="row">
        <div class="col-xs-6 col-md-6 ">
          <h1 id='smal'>Having doubts<br>before Exams?</h1>
        </div>
        <div class="col-xs-6 col-md-6 thumbnail">
          <img src="{% static 'webpages/images/Untitled-1.png' %}" alt="">
        </div>
       </div>
       <div class="row">
         <div class="col-xs-6 col-md-6 thumbnail">
           <img src="{% static 'webpages/images/Add_a_heading-removebg-preview.png' %}" alt="">
         </div>
         <div class="col-xs-6 col-md-6">
           <h1 id='smal'>Book your Individual Doubts Classes</h1>
           <div class=row>
            <div class='col-xs-0 col-md-3 col-lg-3'></div>
               <div class='col-xs-1 col-md-3 col-lg-3'>
		             <button id='smal' class="btn btn-danger btn-lg" type="button" name="button"data-toggle="modal" data-target="#myModal">Get Started</button>
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">





              <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><p><a href="{% url 'index' %}"><img class="pull-up" src="{% static 'webpages/images/Ekal_logo.png' %}" width='40%' alt='' ></p></h4></a>
                    <br>


                <div class="form-group">


            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="row">
              <div class="col-md-5 col-xs-5"></div>
              <div class="col-md-5 col-xs-5">
                <button class="btn btn-primary btn-lg para" type="submit" name="button">Post</button>
              </div>
            </div>
            </div>
            </form>
              </div>
            </div>
          </div>
        </div>
          </div>
		  <div class='col-xs-3 col-md-3 col-lg-3'></div>
</div>
         </div>
       </div>
</div>
   </div>
   <div id="myCarousel2" class="carousel slide" data-ride="carousel">
     <!-- Indicators -->
     <ol class="carousel-indicators">
       <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
       <li data-target="#myCarousel2" data-slide-to="1"></li>
     </ol>

     <!-- Wrapper for slides -->
     <div class="carousel-inner">
       <div class="item active">
     <img src="{% static 'webpages/images/vision.png' %}" style='width:100%;'alt="" >
       </div>
       <div class="item">
       <img src="{% static 'webpages/images/Mission.png' %}"style='width:100%;' alt="" >
       </div>
       <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left"></span>
         <span class="sr-only">Previous</span>
       </a>
       <a class="right carousel-control" href="#myCarousel2" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right"></span>
         <span class="sr-only">Next</span>
       </a>
       </div>
     </div>
<footer class="footer-bs">
           <div class="row">
            <div class="col-md-3 footer-brand animated fadeInLeft">
              <div class="item">
                <h2>Logo</h2>
                   <p>Ekal Shiksha is an Ed-tech company which provides one on one individual online classes. It is an initiative which aims to revolutionize the standard teaching and learning methods. We believe that each student has his or her personal learning speed, method and curriculum which is very important for a teacher to understand and personalize their teaching methods according to the students not vice versa. This platform is especially built for those who have immense potential but are never focused on in group classes, the growth of such students is our moto.

<br>We have been in the teaching industry for past four years, catered to more than 1000s of students till the date. We are unique in a manner that we not only provide tuitions but also we make sure that the performance of each student is tracked through our LMS system and they get to check their clearity of concepts by the MCQs provided after each concept is taught. We have adopted the EAD approach for the better learning, understanding and self assessing of students. We are in a way parent friendly and make sure that the parents are kept in loop for each activity of the student and the teacher.

<br>We have accommodated the best of talented teachers from all across the India for students who believe in learning beyond a classroom. We are a one step solution for all those parents who worry about their kid not being focused enough in group classes, for those who believe that their child can do far better if focused a little more, for those who worry for their kid’s safety when they are at work and their child alone with a teacher at home, for those who worry sending their child to coaching at odd hours and most of all for those who not only believe in passing but in learning.</p>
</div>
               </div>
            <div class="col-md-6 footer-nav animated fadeInUp">
                <h4 class='para'>Menu —</h4>
                <div class="col-md-4">
                       <ul class="list">
                           <li><a href="{% url '6th' %}">Class 6th</a></li>
                           <li><a href="{% url '7th' %}">Class 7th</a></li>
                           <li><a href="{% url '8th' %}">Class 8th</a></li>
                           <li><a href="{% url '9th' %}">Class 9th</a></li>
                           <li><a href="{% url '10th' %}">Class 10th</a></li>
                           <li><a href="{% url '11th_Science' %}">Class 11th Science</a></li>
                           <li><a href="{% url '11th_Commerce' %}">Class 11th Commerce</a></li>
                         </ul>
                       </div>
                           <div class="col-md-4">
                                  <ul class="list">

                           <li><a href="{% url '11th_Humanities' %}">Class 11th Humanities</a></li>
                           <li><a href="{% url '12th_Science' %}">Class 12th Science</a></li>
                           <li><a href="{% url '12th_Commerce' %}">Class 12th Commerce</a></li>
                           <li><a href="{% url '12th_Humanities' %}">Class 12th Humanities</a></li>
                       </ul>
                   </div>
                <div class="col-md-4">
                       <ul class="list">
                           <li><a href="{% url 'About' %}">About Us</a></li>
                           <li><a href="#">Contact us:- </a></li>
                           <li><a href="#">Terms & Condition</a></li>
                           <li><a href="#">Privacy Policy</a></li>
                       </ul>
                   </div>
               </div>
            <div class="col-md-3 footer-social animated fadeInDown">
                <h4>Follow Us</h4>
                <ul>
                    <li><a href="https://www.facebook.com/ekalshiksha/">Facebook</a></li>
                    <li><a href="https://twitter.com/ekalshiksha?lang=en">Twitter</a></li>
                    <li><a href="https://www.instagram.com/ekal_shiksha/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/company/ekal-shiksha/?originalSubdomain=in">Linkdin</a></li>
                   </ul>
               </div>
            </div>
       </footer>

</body>

<script src="{% static 'webpages/Js/ReadMore.js' %}"></script>
<script src="{% static 'webpages/css/dist/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
</html>
