<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <script
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{% static 'webpages/Js/Scrolling-tabs.js' %}"></script>
<script href="{% static 'webpages/Js/Test.js' %}"></script>
      <script src="{% static 'webpages/Js/st_demo.js' %}"></script>
  <link rel="stylesheet" href="{% static 'webpages/Scrolling-tabs.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/Fonts.css' %}">
    <link rel="stylesheet" href="{% static 'webpages/st_demo.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/Doubts.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/Index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/dist/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/dist/css/bootstrap.css' %}" >
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,700;1,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'webpages/css/dist/css/bootstrap-theme.css' %}" >
    <title>Ekal Shiksha</title>

  </head>
  <body>
    <!-- 2nd Navbar Starts here-->
    <nav class="navbar navbar-default navbar-fixed-top nav1">
      <div class="container-fluid white" id='Lowerband'>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
   <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-left">
              <li><a href="{% url 'About' %}"><h4 class='navh4'>About us</h4></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4 class='navh4'>Courses</h4> </a>
                        <ul  class="dropdown-menu dropdown-menu">
                          <li style='border-bottom: 0%; padding-top: 0%'><a href="{% url '6th' %}"><h5>Class 6th</h5></a></li>
                          <li><a href="{% url '7th' %}"><h5>class 7th</h5></a></li>
                          <li><a href="{% url '8th' %}"><h5>Class 8th</h5></a></li>
                          <li><a href="{% url '9th' %}"><h5 >Class 9th</h5></a></li>
                          <li><a href="{% url '10th' %}"><h5 >Class 10th</h5></a></li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle "><h5>Class 11th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '11th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '11th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '11th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                        </li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle"><h5>Class 12th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '12th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '12th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '12th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                          </li>
                          <!-- <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle"><h4 >Micro Course</h4> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '9th' %}"><h4 >Class 9th</h4></a></li>
                            <li><a href="{% url '10th' %}"><h4 >Class 10th</h5></a></li>
                            <li class="dropdown-submenu">
                            <a tabindex="-1" href="#" class="dropdown-submenu-toggle "><h5 >Class 11th</h5> </a>
                            <ul class="dropdown-menu ">
                              <li><a href="{% url '11th_Science' %}"><h5 >Science</h5></a></li>
                              <li><a href="{% url '11th_Commerce' %}"><h5 >Commerce</h5></a></li>
                              <li><a href="{% url '11th_Humanities' %}"><h5 >Arts</h5></a></li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle "><h5 >Class 12th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '11th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '11th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '11th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                        </li>
                        </li>

                          </ul>
                          </li> -->
                          <!-- <li><li><a href='#'><h5 >English Speaking</h5></a></li></li> -->
                        </ul>
                          <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4 class='navh4'>Study Material</h4></a>
                          <ul class="dropdown-menu">
                            <li><a href="#"><h5 >Class 6th</h5></a></li>
                            <li><a href="#"><h5 >Class 7th</h5></a></li>
                            <li><a href="#"><h5 >Class 8th</h5></a></li>
                            <li><a href="#"><h5 >Class 9th</h5></a></li>
                            <li><a href="#"><h5 >Class 10th</h5></a></li>
                            <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle "><h5>Class 11th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '11th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '11th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '11th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                        </li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle"><h5>Class 12th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '12th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '12th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '12th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                          </li>

                          </ul>
                          </li>
                  <li><a href="{% url 'Doubts' %}"><h4 class='navh4'>Doubt class</h4></a></li>
                  <!-- <li><a href="#"><h4>Competitions</h4></a></li> -->
                  <li><a href="#"><h4 class='navh4'>Teach with us</h4></a></li>


            </div>
      </div>
  </ul>
  </nav>
  <!-- 1st navbar start here -->
  <nav class="navbar navbar-default navbar-fixed-top nav2">
  <div class="container-fluid">


    <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">

        <p><a href="{% url 'index' %}"><img class="pull-up" src="{% static 'webpages/images/Logo.png' %}" width='40%' alt='' ></p>
      </a>
    </a>
  </div>


    <!-- Collect the nav links, forms, and other content for toggling -->




  <div class="collapse navbar-collapse" id="navbar1">
      <ul id='pad'class="nav navbar-nav navbar-right ">
    <div class="row">
      <!-- <div class="col-xs-2 col-md-2 col-lg-2 "></div> -->
    <div class="col-xs-10 col-md-10 col-lg-10"style="padding-right:0px;margin-right:0px;">
    <li id='pad' ><a href="tel:9716864415"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  9716864415 &nbsp; </a>
    </li></div>
    <!-- <div class="col-xs-2 col-md-2 col-lg-2 "></div> -->
    <div class="col-xs-10 col-md-10 col-lg-10">
    <li id='pad' ><a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcRzBWVHwwpBgTtmnMDMpQkrrhrZRHZGFhgBxJqMrBmbcdRghJMXzwLJlLtsjzDCJNcqwSLjv" ><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  Contact@ekalshiksha.in &nbsp; </a>
    </li></div>
    <!-- <div class="col-xs-2 col-md-2 col-lg-2 "></div> -->
    </div>

    </ul>
    <ul id='pad'class="nav navbar-nav navbar-right ">
    <div class="row">
      <div class="col-xs-2 col-md-2 col-lg-2 "></div>
    <div class="col-xs-10 col-md-10 col-lg-10">
    <li id='pad' style='margin-left:0px;'><a href="#" ><h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Sign In &nbsp;</h4> </a>
    </li></div>

    </div>

    </ul>

      <ul id='pad'class="nav navbar-nav navbar-right ">

        <div class="row">
          <div class="col-xs-10 col-md-10 col-lg-10 ">
            <li id='pad' style='margin-left:0px;'><a href="#"><h4><span class="glyphicon glyphicon-search" aria-hidden="true"></span>  Enquiry  Now &nbsp;</h4> </a>
    </div>
    <div class="col-xs-2 col-md-2 col-lg-2 "></div>
  </div>

  </ul>
  </div>
  </div>


  </nav>

<div class="container">

    <h1>Science Crash Course</h1>



<!--  <a href="https://github.com/rtpHarry/Bootstrap3-ShowManySlideOneCarousel">this code sample</a>   -->
<div class="row">
   <div class="col-md-12">
      <div class="carousel carousel-showmanymoveone slide" id="carousel-tilenav" data-interval="false">
         <div class="carousel-inner">
            <div class="item active">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/14 (3).png' %}" class="img-responsive"></a>
                  <p class='para'><b>MATTER IN OUR SURROUNDINGS</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/15 (3).png' %}" class="img-responsive"></a>
                  <p class='para'><b>IS MATTER AROUND US PURE</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/13 (3).png' %}" class="img-responsive"></a>
                  <p class='para'><b>ATOMS AND MOLECULES</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/12 (3).png' %}" class="img-responsive"></a>
                  <p class='para'><b>STRUCTURE OF THE ATOM</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/11 (3).png' %}" class="img-responsive"></a>
                  <p class='para'><b>THE FUNDAMENTAL UNIT OF LIFE</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/9 (3).png' %}" class="img-responsive"></a>
                   <p class='para'><b>TISSUES</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/10 (3).png' %}" class="img-responsive"></a>
                  <p class='para'><b>DIVERSITY IN LIVING ORGANISMS</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/8 (4).png' %}" class="img-responsive"></a>
                  <p class='para'><b>MOTION</b></p>
               </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/7 (4).png' %}" class="img-responsive"></a>
                  <p class='para'><b>FORCE AND LAWS OF MOTION</b></p>
               </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/6 (4).png' %}" class="img-responsive"></a>
                  <p class='para'><b>GRAVITATION</b></p>
               </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/5 (5).png' %}" class="img-responsive"></a>
                  <p class='para'><b>WORK AND ENERGY</b></p>
               </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/4 (5).png' %}" class="img-responsive"></a>
                  <p class='para'><b>SOUND</b></p>
               </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/3 (5).png' %}" class="img-responsive"></a>
                  <p class='para'><b>WHY DO WE FALL ILL_</b></p>
               </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/2 (5).png' %}" class="img-responsive"></a>
                  <p class='para'><b>NATURAL RESOURCES</b></p>
               </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/1 (5).png' %}" class="img-responsive"></a>
                  <p class='para'><b>IMPROVEMENT IN FOOD RESOURCES</b></p>
               </div>
            </div>
         </div>
         <a class="left carousel-control" href="#carousel-tilenav" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
         <a class="right carousel-control" href="#carousel-tilenav" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
   </div>
</div>


</div>

<div class="container">

    <h1>Mathematics Crash Course</h1>



<!--  <a href="https://github.com/rtpHarry/Bootstrap3-ShowManySlideOneCarousel">this code sample</a>   -->
<div class="row">
   <div class="col-md-12">
      <div class="carousel carousel-showmanymoveone slide" id="carousel-tilenav1" data-interval="false">
         <div class="carousel-inner">
            <div class="item active">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/1 (4).png' %}" class="img-responsive"></a>
                  <p class='para'><b>Number Systems</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/28.png' %}" class="img-responsive"></a>
                  <p class='para'><b>Polynomials</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/18.png' %}" class="img-responsive"></a>
                  <p class='para'><b>Coordinate Geometry</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/2 (4).png' %}" class="img-responsive"></a>
                  <p class='para'><b>Linear Equations in Two Variables</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/Chapter 5 Euclid’s Geometry.jpg' %}" class="img-responsive"></a>
                  <p class='para'><b>Euclid’s Geometry</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/3 (4).png' %}" class="img-responsive"></a>
                  <p class='para'><b>Lines and Angles</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/21.png' %}" class="img-responsive"></a>
                  <p class='para'><b>Triangles</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/31.jpg' %}" class="img-responsive"></a>
                  <p class='para'><b>Quadrilaterals</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/4 (4).png' %}" class="img-responsive"></a>
                  <p class='para'><b>Areas of Parallelograms and Triangles</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/9 (2).png' %}" class="img-responsive"></a>
                  <p class='para'><b>Circles</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/11 (2).png' %}" class="img-responsive"></a>
                  <p class='para'><b>Constructions</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/5 (4).png' %}" class="img-responsive"></a>
                  <p class='para'><b>Heron’s Formula</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/6 (3).png' %}" class="img-responsive"></a>
                  <p class='para'><b>Surface Areas and Volumes</b></p>
               </div>
            </div>
            <div class="item">
               <div class="col-xs-12 col-sm-6 col-md-2 thumbnail">
                  <a href="#"><img src="{% static 'webpages/images/5 (3).png' %}" class="img-responsive"></a>
                  <p class='para'><b>Statistics</b></p>
               </div>
            </div>
         </div>
         <a class="left carousel-control" href="#carousel-tilenav1" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
         <a class="right carousel-control" href="#carousel-tilenav1" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
   </div>
</div>


</div>

<footer class="footer-bs">
           <div class="row">
            <div class="col-md-3 footer-brand animated fadeInLeft">
              <div class="item">
                <h2>Logo</h2>
                   <p>Ekal Shiksha is an Ed-tech company which provides one on one individual online classes. It is an initiative which aims to revolutionize the standard teaching and learning methods. We believe that each student has his or her personal learning speed, method and curriculum which is very important for a teacher to understand and personalize their teaching methods according to the students not vice versa. This platform is especially built for those who have immense potential but are never focused on in group classes, the growth of such students is our moto.

<br>We have been in the teaching industry for past four years, catered to more than 1000s of students till the date. We are unique in a manner that we not only provide tuitions but also we make sure that the performance of each student is tracked through our LMS system and they get to check their clearity of concepts by the MCQs provided after each concept is taught. We have adopted the EAD approach for the better learning, understanding and self assessing of students. We are in a way parent friendly and make sure that the parents are kept in loop for each activity of the student and the teacher.

<br>We have accommodated the best of talented teachers from all across the India for students who believe in learning beyond a classroom. We are a one step solution for all those parents who worry about their kid not being focused enough in group classes, for those who believe that their child can do far better if focused a little more, for those who worry for their kid’s safety when they are at work and their child alone with a teacher at home, for those who worry sending their child to coaching at odd hours and most of all for those who not only believe in passing but in learning.</p>
</div>
               </div>
            <div class="col-md-6 footer-nav animated fadeInUp">
                <h4 class='para'>Menu —</h4>
                <div class="col-md-4">
                       <ul class="list">
                           <li><a href="{% url '6th' %}">Class 6th</a></li>
                           <li><a href="{% url '7th' %}">Class 7th</a></li>
                           <li><a href="{% url '8th' %}">Class 8th</a></li>
                           <li><a href="{% url '9th' %}">Class 9th</a></li>
                           <li><a href="{% url '10th' %}">Class 10th</a></li>
                           <li><a href="{% url '11th_Science' %}">Class 11th Science</a></li>
                           <li><a href="{% url '11th_Commerce' %}">Class 11th Commerce</a></li>
                         </ul>
                       </div>
                           <div class="col-md-4">
                                  <ul class="list">

                           <li><a href="{% url '11th_Humanities' %}">Class 11th Humanities</a></li>
                           <li><a href="{% url '12th_Science' %}">Class 12th Science</a></li>
                           <li><a href="{% url '12th_Commerce' %}">Class 12th Commerce</a></li>
                           <li><a href="{% url '12th_Humanities' %}">Class 12th Humanities</a></li>
                       </ul>
                   </div>
                <div class="col-md-4">
                       <ul class="list">
                           <li><a href="#">About Us</a></li>
                           <li><a href="#">Contacts</a></li>
                           <li><a href="#">Terms & Condition</a></li>
                           <li><a href="#">Privacy Policy</a></li>
                       </ul>
                   </div>
               </div>
            <div class="col-md-3 footer-social animated fadeInDown">
                <h4>Follow Us</h4>
                <ul>
                    <li><a href="https://www.facebook.com/ekalshiksha/">Facebook</a></li>
                    <li><a href="https://twitter.com/ekalshiksha?lang=en">Twitter</a></li>
                    <li><a href="https://www.instagram.com/ekal_shiksha/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/company/ekal-shiksha/?originalSubdomain=in">Linkdin</a></li>
                   </ul>
               </div>
            </div>
       </footer>

</body>

<script src="{% static 'webpages/Js/ReadMore.js' %}"></script>
<script src="{% static 'webpages/Js/Test.js' %}">

</script>
<script src="{% static 'webpages/Js/jquery_flipster_min.js' %}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</html>
